{% extends 'base.html' %}
{% load static %}

{% block title %}warungTeka{% endblock %}

{% block style %}
    <link href="{% static 'homecss.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

    <section id="testimoni" class="container-fluid p-0 h-75" style="background: #EFEFEF;">

        {% include 'nav.html' %}
        <div class="landing" id="landing">
            <div class="text-center">
                {% if user.is_authenticated %}
                <h1>
                    <p><font color="#FFBF00">Selamat datang</p></font> 
                </h1>
                <h3><p><font color="#67809F">{{ user.username }}</font> </h3>
                <p><a href="{% url 'logout' %}">Log out</a></p>
                {% else %}
                <img  src="{% static 'img/warungTeka.svg' %}" alt="nope" width="450" height="120">
                <p>Ciptakan Kemudahan Berekenomi dengan Pendekatan Teknologi</p>
                <h1>
                <p><a href="{% url 'login' %}">Log In </a></p>
                </h1>
                <p><p>Don’t have account?</p><a href="{% url 'signup' %}">Sign Up</a></p>
                {% endif %}
            </div>
        </div>
        <div  class="landing" id="landing">
                
            <h3>FAQ</h3>
            <p><br></p>
            <div class="text-center"></div>
                <div  color="#67809F"id="accordion">
                        <h5 class="accord-header"><font color="#67809F">Apa itu WarungTeka?</font></h5>
                        <div class="text-bg-color">
                            <p>
                            -WarungTeka adalah sebuah website yang menyedikan layanan<br>
                            agar kita dapat lebih mudah dalam mencari bahan pokok<br>
                            disekitar kita
                            </p>
                        </div>
                        <h5 class="accord-header"><font color="#67809F">Bagaimana cara mencari bahan pokok?</font></h5>
                        <div class="text-bg-color">
                            <p>
                            -Hanya dengan mengklik tombol pada menu "cari"<br>
                            kalian dapat mencari bahan pokok yang kalian inginkan<br>
                            dan mengetahui dimana warung yang menyediakan barang tersebut
                            </p>
                        </div>
                        <h5 class="accord-header"><font color="#67809F">Bagaimana cara mendaftarkan warung?</font></h5>
                        <div class="text-bg-color">
                            <p>
                            -Hanya dengan melakukan signup dan mengklik tombol pada menu <br>
                            "Tambah Warung" kalian sudah dapat menambahkan barang-barang apa <br>
                            saja yang tersedia di warung kalian
                            </p>
                        </div>
                    </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </section>
{% endblock %}