.landing {
  font-family: 'Roboto';
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-center img{
  width: 75%;
  height: auto;
  max-width: 450px;
  max-height: 120px;
}

.lead {
  font-family: 'Roboto';
  margin-top: 30px;
  margin-bottom: 70px;
  margin-right: 30px;
  margin-left: 80px;
}

:root {
  --bg-color: white;
  --txt-color: black;
}

body {
  /* background-color: var(--bg-color); */
  background-color: white;
  transition: 0.6s ease;
}

#navbar-color {
  background-color: #E9F4FF;
  transition: 0.6s ease;
}

.navbar-text {
  color: #333B43;
  transition: 0.6s ease;
}

#navbar-title {
color : cornflowerblue;
transition: 0.6s ease;
}

.crimson-txt {
color: crimson !important;
}

.crimson-bg {
background-color: crimson;
border-color: crimson;
}

#day-night-txt {
transition: 0.6s ease;
}

.text-bg-color {
  color: black;
  background-color: white;
  /* transition: 0.6s ease; */
}

.accord-header {
transition: 0.6s ease;
}

/* #body-color {
  background-color: var(--bg-color);
  transition: 0.6s ease;
} */

/* .night-color {
  background-color: black;
  color: white;
  transition: 0.7s ease;
} */

/* --------------- for switchbox --------------- */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* --------------------------------------------- */
