{% load static %}
<!-- footer
    ====================================================================== -->
<footer class="footer fixed-bottom mx-5" style="background: #FDE3A7;">
    <div class="container-fluid my-1">
        <div class="row">
            <div class="col">
                <a target="_blank" href="https://gitlab.com/ppww" class="nav-link p-0"><span class="text-muted" style="font-size: 0.8rem;">© Copyright ppww 2019.</span></a>
            </div>
            <div class="col d-flex justify-content-end">
                <a target="_blank" href="https://gitlab.com/ppww/warungteka-2"><i class='fab fa-gitlab' style='font-size:24px; color: #2E3131;'></i></a>

            </div>
        </div>
    </div>
</footer>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
