{% extends 'base.html' %}
{% load static %}

{% block title %}Testimoni - warungTeka{% endblock %}

{% block style %}
    <link href={% static 'css/testi.css' %} rel="stylesheet">
{% endblock %}

{% block bodyline %}overflow-y: hidden;{% endblock %}

{% block content %}
    <section id="testimoni" class="container-fluid p-0 h-75" style="background: #EFEFEF;">

        {% include 'nav.html' %}

        <div class="row h-75 justify-content-center">
            <div class="col-6 h-100 ">
                <div class="row my-2 mt-3">
                    <div class="col d-flex justify-content-end">
                        <h2 class="text-dark font-weight-bold mt-5 mb-0">Warung Terdaftar</h2>
                    </div>
                    <div class="col d-flex flex-column justify-content-end px-0">
                        <a role="button" href="{% url 'testimoni' %}" class="tombol btn btn-primary mr-auto" style="font-size: 0.7rem;">
                            Kembali
                        </a>
                    </div>
                </div>
                <div id="list" class="output row bg-white m-auto">
                    <!-- output warung -->
                    {% for e in warung %}
                    <div class="col-12 m-auto m-3 p-2">
                        <div class="card-body" >
                            <h4 class="card-title" style="color: #FED153; font-size: 1.1rem;">{{ e.name }}</h4>
                            <h6 class="card-subtitle mb-2 text-muted" style="margin-top: -2%;font-size: 0.75rem;">{{ e.address }}</h6>
                            <p class="card-text" style="font-size: 0.7rem;">Tersedia: 
                            {% for b in barang %}
                                {% if b.warung_id == e.id %}
                                    {{ b.name }},&nbsp;
                                {% endif %}
                            {% endfor %}
                            </p>
                            <hr style="color: #67809F;" class="my-0">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% include 'footer.html' %}
    </section>
{% endblock %}
