{% extends 'base.html' %}
{% load static %}

{% block title %}Testimoni - warungTeka{% endblock %}

{% block style %}
    <link href={% static 'css/testi.css' %} rel="stylesheet">
{% endblock %}

{% block bodyline %}background: #EFEFEF;{% endblock %}

{% block content %}
    <section id="testimoni" class="container-fluid p-0 h-75" style="
    background: url({% static 'img/banana.jpg' %});
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;">

        {% include 'nav.html' %}

        <div class="row">
            <div class="col">
                <h2 class="text-center text-dark font-weight-bold my-5">Testimoni</h2>
            </div>
        </div>
        <div class="row h-75 ml-5" style="max-height: 75%;">

            <div class="col-md-4 d-flex p-0 flex-column align-items-center">
                <div class="row w-75" style="background: #FDE3A7; border-radius: 24px;">
                    <div class="col m-2">
                        {% if request.user.is_authenticated %}
                            <!-- form testimoni -->
                            <form class="d-flex flex-column" method="POST" action="addTesti/" id="postTesti">
                                <p class="w-100 justify-content-center my-1">Halo, <span style="color: #67809F;">{{ user.username }}</span>!</p>
                                {% csrf_token %}
                                {% for field in form %}
                                    <p class="w-100 justify-content-center my-1">{{ field.label }}: <br> {{ field }}</p>
                                {% endfor %}
                                <button type="submit" value="Submit" class="tombol btn btn-primary mx-auto my-2">
                                    Submit
                                </button>
                            </form>
                        {% else %}
                            <p class="w-100 justify-content-center my-1">Halo, <span style="color: #67809F;">Pendatang</span>!</p>
                            <br>
                            <p class="w-100 justify-content-center my-1">Anda harus <a href="/warungteka/login/?next=/testimoni/"><span class="text-info">login</span></a> terlebih dahulu sebelum menambahkan testimoni.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a role="button" href="{% url 'listwarung' %}" class="tombol btn btn-primary mx-auto my-3">
                            Cek Warung
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-8 p-0" style="max-height: 100%;">
                <div id="output" class="row bg-white m-auto h-75" style="width: 70%;";>
                <!-- output testimoni -->
                </div>
            </div>

        </div>

        {% include 'footer.html' %}
    </section>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}";
        getUser = "{{ user.username }}";
    </script>
    <script src="{% static 'js/testi.js' %}"></script>
{% endblock %}
